@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300&display=swap');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #0F0F0F;
    height: 3.25rem;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: 'Teko', sans-serif;
}

.header__logo {
    width: 1.75rem;
    margin-left: 2vmin;
    margin-right: .2vmin;
}

.header__left {
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.header__left__link>h1 {
    color: whitesmoke;
}

.header__center {
    flex: 1;
    max-width: 35rem;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .2);
    margin: 0 10vmin;
    border-radius: 2rem;
    padding: .1rem;
    border: 0.1rem solid #272727;
}

.header__center>input {
    width: 100%;
    border-radius: inherit;
    padding-left: 1.5vmin;
    outline: none;
    background: none;
    border: none;
    height: 2rem;
    font-size: 1.1rem;
    color: lightgray;
}

.header__right {
    display: flex;
    align-items: center;
    padding-right: 2vmin;
    gap: 2vmin;
}

.header__left>.MuiSvgIcon-root {
    color: lightgray;
}

.header__right>.MuiSvgIcon-root {
    color: lightgray;
}

.header__center>.MuiSvgIcon-root {
    color: lightgray;
    margin-right: 1vmin;
    border-radius: 0 2vmin 2vmin 0;
}

#Search::-webkit-search-cancel-button {
    color: lightgray;
}

.header__avatar {
    height: 1.8rem !important;
    width: 1.8rem !important;
}

.search__link {
    color: inherit;
    text-decoration: none;
    padding-right: .5rem;
    display: flex;
    align-items: center;
}

.header__left__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.header__left__link>h1 {
    font-size: 1.75rem;
    margin-left: .1rem;
}

.header__menu {
    cursor: pointer;
}

@media (max-width: 600px) {
    .header__left__link>h1 {
        display: none;
    }
}

@media (max-width: 800px) {
    .header__center {
        margin: 0 1vmin;
    }
}