.sidebarMini {
    width: 5.4rem;
    display: none;
}

.sidebarMini__row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .3rem;
    width: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: .5rem;
    cursor: pointer;
}

.sidebarMini__row:hover {
    background-color: #272727;
}

.sidebarMini__icon {
    color: whitesmoke;
}

.sidebarMini__row>p {
    font-size: .6rem;
    color: whitesmoke
}

@media (max-width: 1313px) and (min-width: 600px) {
    .sidebarMini {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}